.pepole{
    margin: 0;
    min-height: 100vh;
    position: relative; /* 添加相對定位 */
    padding-bottom: 60px; /* 為footer預留空間，根據footer的高度調整 */
    width: 80%;
    display: flex;
}
.container .row{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
}
